<!DOCTYPE html>
<html lang="pt-BR">
<head>
  {%metas%}
  <title>{%title%}</title>
  {%favicon%}
  {%css%}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <header class="site-header">
    <div class="container">
      <h1>Ajustes WB - @ipp</h1>
    </div>
  </header>

  <main class="container">
    {%app_entry%}
  </main>

  <footer class="site-footer">
    <div class="container">
      <small>© Leonardo Ippolito Rodrigues - </small>
    </div>
  </footer>

  {%config%}
  {%scripts%}
  {%renderer%}
</body>
</html>
